
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marido de Aluguel{% endblock %}</title>
        {#<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" />#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/cadastro.css" media="screen,projection"/>


        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>


        <div id="tela">
            {% block body %}



                <div class="row" id="principal">

                    {#  <form class="col s12 m6 l4 offset-l8" id="form_cadastro" class="z-depth-1 grey lighten-4 row" style="display: inline-block;    ">#}
                    {{ form_start(form, { 'attr': {'class': 'col s12 m6 l4 offset-l8 z-depth-1 grey lighten-4 row' , 'id': 'form_cadastro'} }) }}
                    <div class="section">{{ form_errors(form) }}</div>

                    <img class="responsive-img" style="width: 400px;" src="https://i.imgur.com/ax0NCsK.gif" />

                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>

                        {{ form_widget(form.nome, {'attr':{'id':'name'} } ) }}

                        <label for="nome">Nome</label>
                    </div>

                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>

                        {{ form_widget(form.email, {'attr':{'id':'email'} } ) }}

                        <label for="email">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right"></span>

                    </div>

                    <div class="input-field col s12 ">

                        <i class="material-icons prefix">lock</i>
                        {{ form_widget(form.senha.first, {'attr':{'id':'password' , 'class':'validate'} } ) }}

                        <label for="password">Senha</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock_outline</i>

                        {{ form_widget(form.senha.second, {'attr':{'id':'passwordConfirm' , 'class':'validate'} } ) }}
                        <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Senhas não são iguais" data-success="Senhas correspodem">Confirmar senha</label>
                    </div>


                    <div class="input-field col s12">
                        <i class="material-icons prefix indigo-text">phone</i>
                        {{ form_widget(form.telefone, {'attr':{'id':'celular'} } ) }}
                        <label for="celular">Celular</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">phone</i>
                        {{ form_widget(form.cpf, {'attr':{'id':'cpf'} } ) }}
                        <label for="cpf">CPF</label>
                    </div>





                    {{ form_widget(form.cadastrar, {'attr':{'class':'col s12 indigo white-text btn btn-done waves-effect'} } ) }}

                    {{ form_end(form) }}

                </div>




            {% endblock %}
        </div>

        <!-- Scripts -->
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.js"></script>
        <script type="text/javascript" src="js/cadastro.js"></script>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.js"></script>


    </body>
</html>
