<!-- ./index.html -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marido de Aluguel{% endblock %}</title>
        {#<link href="{{ asset('css/materialize.css') }}" rel="stylesheet" />#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

        <style>
            .icon-bar {
                width: 100%; /* Full-width */
                background-color: #2196f3; /* Dark-grey background */
                overflow: auto; /* Overflow due to float */
            }

            .icon-bar a {
                float: left; /* Float links side by side */
                text-align: center; /* Center-align text */
                width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
                padding: 12px 0; /* Some top and bottom padding */
                transition: all 0.3s ease; /* Add transition for hover effects */
                color: white; /* White text color */
                font-size: 36px; /* Increased font size */
            }

            .icon-bar a:hover {
                background-color: #000; /* Add a hover color */
            }

            .active {
                background-color: #00bcd4; /* Add an active/current color */
            }
        </style>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="navbar">
            {% block navbar %}
                             {% include 'menuLateralCliente.html.twig'%}

            {% endblock %}
        </div>


        <div id="content" class="container valign center-block">
            {% block body %}
                {#{{dump(servicos)}}
                {{dump(categorias)}}#}

                <div class="row" {# style="height: 180px"#}>
                    <div class="icon-bar">
                        {#ids devem ser os mesmos das categorias do banco de dados#}
                        <a class='col s12 m3 l3'href="#" onClick="visibilidade('limpeza');"><i class="fas fa-broom"></i> Limpeza</a> 
                        <a  class='col s12 m3 l3'href="#" onClick="visibilidade('eletrica');"><i class="fa fa-plug"></i> Elétrica</a> 
                        <a  class='col s12 m3 l3'href="#" onClick="visibilidade('hidraulica');"><i class="fa fa-tint"></i> Hidráulica</a>

                        <a  class='col s12 m3 l3'href="#" onClick="visibilidade('alvenaria');"><i class="fa fa-industry"></i> Alvenaria</a> 

                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m6 l6 offset-m3 offset-l3 valign">
                        <h5 class="center-align">
                            Escolha o serviço para procurar o profissional mais próximo disponível.
                        </h5>
                    </div>
                </div> 


                {% for categoriaArray in categorias %}
                    <div class="row divsCategorias" id="{{categoriaArray.nomecategoria}}" style="display: none" >
                        {% for servicosArray in servicos %}
                            {%if servicosArray.categoriasservicoscategoriasservicos.idcategoriasservicos == categoriaArray.idcategoriasservicos%}
                                <div class="col s12 m3 l3">
                                    <div class="card small" onClick="procurarProfissional('{{servicosArray.idservico}}', '{{servicosArray.valorservico}}')">
                                        <div class="card-image waves-effect waves-block waves-light">
                                            <img class="activator" src="img/{{categoriaArray.nomecategoria}}/{{servicosArray.nomeservico}}.jpg">
                                        </div>
                                        <div class="card-content">
                                            <span class="card-title activator grey-text text-darken-4">{{servicosArray.nomeservico}}<i class="material-icons right">more_vert</i></span>
                                            <p>A partir de R${{servicosArray.valorservico}} por {{servicosArray.unidademedida}}</p>
                                        </div>
                                        <div id="modal{{servicosArray.idservico}}" class="modal" >
                                            <div class="modal-content">
                                                <h5>Informe o valor de {{servicosArray.unidademedida}} para {{servicosArray.nomeservico}} </h5>
                                                <form class="col s12">
                                                    <div class="row">
                                                        <div class="input-field col s12 m6 l6">
                                                            <input id="unidadeQuantidade{{servicosArray.idservico}}" type="text" class="validate" placeholder="1">

                                                        </div>
                                                        <div class="col s12 m6 l6">
                                                            <p>Valor por {{servicosArray.unidademedida}}: R$ {{servicosArray.valorservico}}</p>
                                                            <h5 id="valorTotal{{servicosArray.idservico}}"> Valor total: R${{servicosArray.valorservico}} </h5>
                                                        </div>
                                                    </div>
                                                </form>

                                                <p>Se você não sabe o valor exato, o profissional ao chegar no local poderá fazer a medida e alterar o valor do serviço.</p>

                                            </div>
                                            <div class="modal-footer">
                                                <a href="#!"   onClick="salvarSessao('{{servicosArray.idservico}}', '{{servicosArray.valorservico}}')"class="modal-close waves-effect waves-green btn-small orange">Procurar Profissional</a>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            {%endif%}
                        {%endfor%}  

                        <div class="row">
                            <div class="col s12 m12 l12 valign"> 
                                <p class="center-align"> Não encontrou o serviço desejado? Solicite um orçamento
                                    <a class="waves-effect waves-light btn-large blue" onClick='solicitarOrcamento()'>Solicitar orçamento</a></p>

                            </div>
                        </div>
                        <div class="divider"></div>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col s12 m6 l12 offset-m3 offset-m3  valign center-align">
                        <span class="blue-grey-text"> O valor pode ser modificado a partir da avaliação do profissional na chegada ao local e só pode ser feito mediante sua autorização no sistema. </span>

                    </div>
                </div>



            {% endblock %}
        </div>
        <!-- Scripts -->

        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/materialize.js"></script>
        <script type="text/javascript" src="js/servico.js"></script>
    </body>
</html>
