<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Marido de Aluguel{% endblock %}</title>
         <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <style type='text/css'>
            header, main, footer {
                padding-left: 300px;
            }
            .checked {
                color:#FFED85;
            }
            @media only screen and (max-width : 992px) {
                header, main, footer {
                    padding-left: 0;
                }
            }


        </style>


        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div id="navbar">
            {% block navbar %}
                {% include 'menuLateralProfissional.html.twig' %}

            {% endblock %}
        </div>

        <main>
            <div id="content" class="container valign center-block">
                {#   {{dump(solicitacoesProf)}}#}

                <h5 class="blue-text center-align"> Solicitação em Andamento </h5>
                <div class="divider"></div>
                <div class="row">

                    <ul class="collection">
                        {%if solicitacoesProf is empty%}
                            <li><h5 class="center-align"> Não há solicitações em andamento no momento </h5></li>

                            <a href="home"> <i class="large material-icons center-align orange-text">refresh</i></a>
                        {%else%}
                            <li class="collection-item avatar">
                                <img src="img/avatar.png" alt="" class="circle">
                                <h5 class="title">Cliente {{solicitacoesProf[0].usuariosusuarios.nome}}</h5>
                                <p> 
                                    {{ solicitacoesProf[0].servicosservico.nomeservico}} - {{solicitacoesProf[0].servicosservico.categoriasservicoscategoriasservicos.nomecategoria}}
                                </p>
                                <p>
                                    R$  {{ solicitacoesProf[0].precofinal}}
                                </p>
                                {%if solicitacoesProf[0].trocapreco==1  and solicitacoesProf[0].trocaprecoautorizada==0%}

                                    <p> <i class="material-icons">local_atm</i>

                                        Você solicitou mudança de preço de R${{solicitacoesProf[0].precoFinal}} para R${{solicitacoesProf[0].novovalor}}.
                                    </p>
                                {%elseif solicitacoesProf[0].trocapreco==1 and solicitacoesProf[0].trocaprecoautorizada==1%}
                                    <p>
                                        <i class="material-icons">local_atm</i>

                                        Alteração de preço autorizada pelo cliente.
                                    </p>

                                {%endif%}
                                <p><br>

                                    {{ solicitacoesProf[1].enderecosolicitacao}}
                                </p>

                                {%if solicitacoesProf[0].statussolicitacao == 2%}

                                    <div class="row center-align">
                                        <a class="waves-effect waves-light btn modal-trigger blue " href="#modal1">Alterar Valor</a>
                                    </div>
                                    <div class="row">
                                        <a class="waves-effect waves-light btn-large orange" style="display:block" onClick="event.preventDefault();
                                                    finalizar('{{solicitacoesProf[0].idsolicitacoes}}')"> Finalizar e receber pagamento <i class="material-icons right">attach_money</i> </a>
                                    </div>
                                    <div id="modal1" class="modal  modal-fixed-footer">

                                        <div class="modal-content">
                                            <h5>Alterar valor do serviço </h5>
                                            <form class="col s12">
                                                <div class="row">
                                                    <div class="col s12 m6 l6">
                                                        R$ 
                                                        <div class="input-field inline">
                                                            <input id="preco" type="number" step="0.01" class="validate" placeholder="45.00">
                                                        </div>
                                                    </div>
                                                    <div class="col s12 m6 l6">
                                                        Motivo: 
                                                        <div class="input-field inline">
                                                            <textarea  id="motivo" class="materialize-textarea" placeholder="A janela precisa ser ajustada."></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col s12 m12 l12">
                                                        <p>Após salvar o novo valor, solicite ao cliente que entre em seu sistema e acesse a opção <b>informações</b> no <b>serviço em andamento</b> para <b>CONFIRMAR</b> a alteração do valor.</p>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                        <div class="modal-footer">
                                            <a href="" onClick="event.preventDefault();
                                                    mudarPreco('{{solicitacoesProf[0].idsolicitacoes}}')" class="modal-close waves-effect waves-green btn-small orange">Salvar</a>
                                        </div>
                                    </div>
                                {%endif%}
                            </li>

                        {%endif%}



                    </ul>

                </div>
            </div> 
        </div>
    </div>

</main>
<!-- Scripts -->
<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/solicitacaoAndamento.js"></script>
<script type="text/javascript" src="js/coletarLocalizacaoProfissional.js"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJad8cPlyBoxq47_kMa7RejAGIOdIrVYc&libraries=places&callback=initMap"
        async defer></script>
</body>
</html>
